/* add space between header and the body */

nav {
    margin-bottom: 50px;
}

/*Style all background styles not styled by bootstrap*/

body {
    background-image: url("assets/Background.jpg");
    background-color: thistle;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: teal;
    border-bottom: solid teal 1px;
    margin-bottom: 25px;
}

/* bottom margin to make sure sticky footer does not cover content */

main {
    margin-bottom: 80px;
    padding: 20px;
}

.background {
    background-color: #f8f9fa;
    padding: 20px;
}

img {
    padding: 10px;
}

.portrait {
    max-width: 50%;
    max-height: auto;
}

footer {
    background-color: #3e403e;
    border-top: solid teal 6px;
}