/* add space between header and the body */

nav {
    margin-bottom: 50px;
    background-color: #3e403e;
    color: white;
}

/*Style all background styles not styled by bootstrap*/

body {
    background-image: url("background.jpg");
    background-size: cover;
    background-color: thistle;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: teal;
    border-bottom: solid teal 1px;
    margin-bottom: 25px;
}

/* bottom margin to make sure sticky footer does not cover content */

main {
    margin-bottom: 80px;
    padding: 20px;
}

.resume-heading {
    text-align: center;
    font-weight: bold;
}

.background {
    background-color: #f1f2f3;
    padding: 20px;
}

.portfolio .card-body {
    padding: 10px;
}

/* portrait images set to take up half of their column width  */

.portrait {
    max-width: 50%;
    max-height: auto;
}

footer {
    background-color: #3e403e;
    color: white;
    font-size: smaller;
    border-top: solid teal 6px;
}